.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    height: 96px;
    margin: 0px 16px;
}

.left-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: 0px 16px;
}

.right-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: 0px 16px;
}