/* .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 96px;
    margin: 0px auto;
    border-radius: 12px;
    max-width: 1300px;
}

.left-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: 0px 32px;
}

.logo-navbar {
    width: 56px;
}

.app-name {
    font-weight: 900;
}

.right-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: 0px 32px;
}

.button {
    background-color: #0084ff;
    color: white;
    padding: 10px 12px;
    border-radius: 12px;
}

.username-container {
    font-weight: bold;
} */