.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 96px;
    margin: 0px auto;
    border-radius: 12px;
    max-width: 1300px;
}

.left-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: 0px 32px;
}

.right-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: 0px 32px;
}

.button {
    background-color: #0084ff;
    color: white;
    padding: 12px;
    border-radius: 12px;
}