.activity-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid #dee2e6 2px;
    margin: 16px auto;
    max-width: 1300px;
    height: 256px;
    border-radius: 24px;
    height: 100%;
}

.activity-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 12px;
    margin: 18px;
    background-color: white;
    height: 184px;
}

.activity-action-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 12px;
}

.button {
    background-color: #0084ff;
    color: white;
    padding:10px;
    border-radius: 12px;
}

.general-info {
    font-size: 13px;
    font-weight: 100;
}

.activity-name {
    font-weight: 600;
    font-size: 26px;
}

.description {
    font-weight: 100;
}